<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="../moment-element/moment-with-locales-import.html">
<!--
`campus-course-selection`
@demo demo/campus-course-selection.html
-->
<dom-module id="campus-course-selection">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f2f2f2;
        height: 100%;
    }
    
    :host paper-item {
        color: rgba(0, 0, 0, .67);
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .13);
    }
    
    :host .ellipsis-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    :host .dark-primary-text-color {
        color: var(--dark-primary-color);
    }
    
    :host .primary-text-color {
        color: var(--primary-color);
    }
    
    :host .secondary-text-color {
        color: var(--secondary-text-color);
    }
    
    :host .error-text-color {
        color: var(--error-color);
    }
    
    :host .tbar {
        padding: 4px 16px;
        line-height: 24px;
    }
    
    @media (min-width: 769px) {
        :host .carda {
            margin: 12px;
        }
        :host .cardb {
            margin: 8px 12px;
        }
    }
    
    @media (max-width: 768px) {
        :host .cardb {
            margin-top: 8px;
        }
    }
    
    @media (min-width: 1024px) {
        :host .carda {
            margin: 12px auto;
            max-width: 1000px;
        }
        :host .cardb {
            margin: 8px auto;
            max-width: 1000px;
        }
    }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar>
                <paper-tabs selected="0" no-bar>
                    <paper-tab on-tap="_toggleView" target="page1">課程</paper-tab>
                    <paper-tab on-tap="_toggleView" target="page2">結果</paper-tab>
                    <paper-tab on-tap="_toggleView" target="page3">歷程</paper-tab>
                </paper-tabs>
                <div class="flex-auto"></div>
                <paper-icon-button icon="icons:refresh" on-tap="_reload"></paper-icon-button>
            </paper-toolbar>
            <div hidden$="[[!opentime]]">
                <div hidden$="[[hiddenPage1]]">
                    <div class="carda">
                        <paper-material elevation="1" style="background:#fff">
                            <div style="font-size:16px;padding:16px">
                                <div style="padding:8px 0">[[opentime.SchoolYear]] 學年度 [[opentime.Semester]] 學期</div>
                                <div class="layout vertical" style="padding:8px 0">
                                    <div style="line-height:22px">第一階段：[[opentime.P1Mode]]</div>
                                    <div class="primary-text-color" style="line-height:22px">[[opentime.P1StartTime]] ~ [[opentime.P1EndTime]]</div>
                                </div>
                                <div class="layout vertical" style="padding:8px 0">
                                    <div style="line-height:22px">第二階段：[[opentime.P2Mode]]</div>
                                    <div class="primary-text-color" style="line-height:22px">[[opentime.P2StartTime]] ~ [[opentime.P2EndTime]]</div>
                                </div>
                                <div class="secondary-text-color" style="padding:8px 0;line-height:22px;white-space:pre-wrap;word-wrap:break-word" inner-H-T-M-L="[[opentime.Memo]]"></div>
                            </div>
                        </paper-material>
                    </div>
                    <template is="dom-repeat" items="[[groups]]" as="group">
                        <div class="cardb">
                            <div class="layout horizontal center secondary-text-color tbar">
                                <div class="flex-auto">[[group.Name]]</div>
                                <div hidden$="[[!isSelection]]">已選 [[group.Selected]] / 可選 [[group.Limit]]</div>
                            </div>
                            <paper-material elevation="1" style="background:#fff">
                                <template is="dom-repeat" items="[[group.Subjects.Subject]]" as="subject">
                                    <paper-item class="layout horizontal center wrap" style="border-top:1px solid #eee">
                                        <div class="flex-auto" style="margin:4px 0">[[subject.Name]]</div>
                                        <div class="flex-auto layout horizontal center end-justified">
                                            <div style="min-width:60px">[[subject.CountLabel]]</div>
                                            <paper-icon-button icon="icons:more-horiz" on-tap="_showDetail"></paper-icon-button>
                                            <div class="error-text-color" style="text-align:center;width:64px" hidden$="[[!subject.IsSelected]]">已選</div>
                                            <paper-button class="dark-primary-text-color" style="min-width:54px" on-tap="_addSelection" hidden$="[[subject.IsSelected]]">加選</paper-button>
                                        </div>
                                    </paper-item>
                                </template>
                            </paper-material>
                        </div>
                    </template>
                </div>
                <div hidden$="[[hiddenPage2]]">
                    <div class="cardb">
                        <div class="secondary-text-color tbar">
                            <div>已選課程</div>
                        </div>
                        <paper-material elevation="1" style="background:#fff">
                            <template is="dom-repeat" items="[[selections]]" as="subject">
                                <paper-item class="layout horizontal center wrap" style="border-top:1px solid #eee">
                                    <div class="flex-auto" style="margin:4px 0">[[subject.Name]]</div>
                                    <div class="flex-auto layout horizontal center end-justified">
                                        <div style="min-width:60px">[[subject.CountLabel]]</div>
                                        <paper-icon-button icon="icons:more-horiz" on-tap="_showDetail"></paper-icon-button>
                                        <div class="error-text-color" style="text-align:center;width:64px" hidden$="[[subject.removeable]]">鎖定</div>
                                        <paper-button class="dark-primary-text-color" style="min-width:54px" on-tap="_removeSelection" hidden$="[[!subject.removeable]]">退選</paper-button>
                                    </div>
                                </paper-item>
                            </template>
                        </paper-material>
                    </div>
                    <div class="cardb" hidden$="[[isSelection]]">
                        <div class="secondary-text-color tbar">
                            <div>志願課程 (上下拖拉排序志願)</div>
                        </div>
                        <paper-material elevation="1" style="background:#fff">
                            <template is="dom-repeat" items="[[wishlist]]" as="subject">
                                <paper-item class="layout horizontal center wrap" style="border-top:1px solid #eee">
                                    <div class="flex-auto layout horizontal center" style="margin:4px 0">
                                        <iron-icon icon="icons:arrow-upward" style="cursor:pointer" on-tap="_moveWishlist"></iron-icon>
                                        <div style="margin-left:8px">[[subject.Name]]</div>
                                    </div>
                                    <div class="flex-auto layout horizontal center end-justified">
                                        <div style="min-width:60px">[[subject.CountLabel]]</div>
                                        <paper-icon-button icon="icons:more-horiz" on-tap="_showDetail"></paper-icon-button>
                                        <div class="error-text-color" style="text-align:center;width:64px" hidden$="[[subject.removeable]]">鎖定</div>
                                        <paper-button class="dark-primary-text-color" style="min-width:54px" on-tap="_removeSelection" hidden$="[[!subject.removeable]]">退選</paper-button>
                                    </div>
                                </paper-item>
                            </template>
                        </paper-material>
                    </div>
                </div>
                <div hidden$="[[hiddenPage3]]">
                    <div class="carda">
                        <paper-material elevation="1" style="background:#fff">
                            <template is="dom-repeat" items="[[logs]]" as="log">
                                <paper-item class="layout horizontal center wrap" style="border-top:1px solid #eee;margin-top:-1px">
                                    <div style="flex: 1 1 140px;margin:4px 0">[[log.Time]]</div>
                                    <div style="flex: 1 1 140px;margin:4px 0">[[log.IPAddress]]</div>
                                    <div style="flex: 1 1 140px;margin:4px 0">[[log.Content]]</div>
                                </paper-item>
                            </template>
                        </paper-material>
                    </div>
                </div>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="detailDialog" with-backdrop>
            <paper-dialog-scrollable>
                <div class="layout horizontal start">
                    <div class="primary-text-color" style="min-width:45px">名稱：</div>
                    <div class="secondary-text-color" style="white-space:pre-wrap">[[targetSubject.Name]]</div>
                </div>
                <div class="layout horizontal start" style="margin-top:5px">
                    <div class="primary-text-color" style="min-width:45px">級別：</div>
                    <div class="secondary-text-color" style="white-space:pre-wrap">[[targetSubject.Level]]</div>
                </div>
                <div class="layout horizontal start" style="margin-top:5px">
                    <div class="primary-text-color" style="min-width:45px">學分：</div>
                    <div class="secondary-text-color" style="white-space:pre-wrap">[[targetSubject.Credit]]</div>
                </div>
                <div class="layout horizontal start" style="margin-top:5px">
                    <div class="primary-text-color" style="min-width:45px">目標：</div>
                    <div class="secondary-text-color" style="white-space:pre-wrap;word-wrap:break-word" inner-H-T-M-L="[[targetSubject.Goal]]"></div>
                </div>
                <div class="layout horizontal start" style="margin-top:5px">
                    <div class="primary-text-color" style="min-width:45px">內容：</div>
                    <div class="secondary-text-color" style="white-space:pre-wrap;word-wrap:break-word" inner-H-T-M-L="[[targetSubject.Content]]"></div>
                </div>
                <div class="layout horizontal start" style="margin-top:5px">
                    <div class="primary-text-color" style="min-width:45px">備註：</div>
                    <div class="secondary-text-color" style="white-space:pre-wrap;word-wrap:break-word" inner-H-T-M-L="[[targetSubject.Memo]]"></div>
                </div>
            </paper-dialog-scrollable>
        </paper-dialog>
    </template>
    <script>
    Polymer({

        is: 'campus-course-selection',

        properties: {
            /*
             * 線上選課 (zh-tw), 线上选课 (zh-cn), Choose a course (en-us)
             */
            title: {
                type: Object,
                readOnly: true
            },
            groups: Array,
            selections: Array,
            wishlist: Array,
            logs: Array,
            targetSubject: Object
        },

        behaviors: [Campus.ServiceBehavior],

        ready: function() {
            this._setTitle({
                'zh-tw': '線上選課',
                'zh-cn': '线上选课',
                'en-us': 'Choose a course'
            });

            this._getOpenTime();
            this._getSubject();
            this._getLog();

            this.set('hiddenPage1', false);
            this.set('hiddenPage2', true);
            this.set('hiddenPage3', true);
        },

        _reload: function(e) {
            this._getSubject();
            this._getWishlist();
            this._getSelection();
            this._getLog();
        },

        _toggleView: function(e) {
            var target = e.target;
            while (target.nodeName !== 'PAPER-TAB') {
                target = target.parentNode;
            }

            if (target.getAttribute('target') === 'page1') {
                this.set('hiddenPage1', false);
                this.set('hiddenPage2', true);
                this.set('hiddenPage3', true);
            } else if (target.getAttribute('target') === 'page2') {
                this.set('hiddenPage1', true);
                this.set('hiddenPage2', false);
                this.set('hiddenPage3', true);
            } else if (target.getAttribute('target') === 'page3') {
                this.set('hiddenPage1', true);
                this.set('hiddenPage2', true);
                this.set('hiddenPage3', false);
            }
        },

        _getLog: function() {
            var request = {
                contract: 'campus.course_selection',
                service: '_.GetLog',
                body: ''
            }

            this.generateRequest(request, function(response) {
                var items = [].concat(response.Logs.Log || []);
                items.forEach(function(item) {
                    item.Time = moment(item.Time).format('MM/DD hh:mm');
                });

                this.set('logs', items);
            }.bind(this));
        },

        _getOpenTime: function() {
            var request = {
                contract: 'campus.course_selection',
                service: '_.GetOpenTime',
                body: ''
            }

            this.generateRequest(request, function(response) {
                if (!response.Error) {
                    response.Result.Current.Period = ['第一階段', '第二階段'][
                        ['P1', 'P2'].indexOf(response.Result.Current.Period)
                    ];

                    this.set('opentime', response.Result);

                    if (response.Result.Current.Mode === '志願序')
                        this.set('isWishlist', true);
                    else if (response.Result.Current.Mode === '先搶先贏')
                        this.set('isSelection', true);

                    this._getWishlist();
                    this._getSelection();
                }
            }.bind(this));
        },

        _getSubject: function() {
            var request = {
                contract: 'campus.course_selection',
                service: '_.GetSubject',
                body: ''
            }

            this.generateRequest(request, function(response) {
                if (!response.Error && response.Groups && response.Groups.Group) {
                    var items = [].concat(response.Groups.Group || []);
                    items.forEach(function(g) {
                        g.Subjects.Subject = [].concat(g.Subjects.Subject);
                        g.Subjects.Subject.forEach(function(s) {
                            if (s.Selected)
                                s.CountLabel = [s.Selected, '/', s.Limit].join('');
                            else
                                s.CountLabel = [0, '/', s.Limit].join('');

                            s.IsSelected = s.IsSelected === 'true';
                        });
                    });

                    this.set('groups', items);
                }
            }.bind(this));
        },

        _getWishlist: function() {
            var request = {
                contract: 'campus.course_selection',
                service: '_.GetWishlist',
                body: ''
            }

            this.generateRequest(request, function(response) {
                var items = [].concat(response.Subjects.Subject || []);
                items.forEach(function(s) {
                    s.CountLabel = [s.Selected, '/', s.Limit].join('');

                    if (this.isWishlist)
                        s.removeable = true;
                    else
                        s.removeable = false;
                }.bind(this));
                this.set('wishlist', items);
            }.bind(this));
        },

        _getSelection: function() {
            var request = {
                contract: 'campus.course_selection',
                service: '_.GetSelection',
                body: ''
            }

            this.generateRequest(request, function(response) {
                var items = [].concat(response.Subjects.Subject || []);
                items.forEach(function(s) {
                    s.CountLabel = [s.Selected, '/', s.Limit].join('');

                    if (this.isSelection && s.IsLock !== 't')
                        s.removeable = true;
                    else
                        s.removeable = false;
                }.bind(this));
                this.set('selections', items);
            }.bind(this));
        },

        _addSelection: function(e) {
            var request = {
                contract: 'campus.course_selection',
                service: '_.AddSelection',
                body: {
                    SubjectID: e.model.subject.UID
                }
            }

            this.generateRequest(request, function(response) {
                if (response) {
                    if (response.Error) {
                        this.$.toast.show({
                            text: response.Error,
                            duration: 1000
                        });
                    } else
                        this._reload();
                }
            }.bind(this));
        },

        _removeSelection: function(e) {
            var request = {
                contract: 'campus.course_selection',
                service: '_.RemoveSelection',
                body: {
                    UID: e.model.subject.UID
                }
            }

            this.generateRequest(request, function(response) {
                if (response) {
                    if (response.Error) {
                        this.$.toast.show({
                            text: response.Error,
                            duration: 1000
                        });
                    } else
                        this._reload();
                }
            }.bind(this));
        },

        _setWishlist: function() {
            var items = [];
            this.wishlist.forEach(function(s) {
                items.push(s.UID);
            });

            var request = {
                contract: 'campus.course_selection',
                service: '_.SetWishlist',
                body: {
                    Sequence: {
                        UID: items
                    }
                }
            }

            this.generateRequest(request, function(response) {
                this._getWishlist();
            }.bind(this));
        },

        _showDetail: function(e) {
            this.set('targetSubject', e.model.subject);
            this.$.detailDialog.open();
        },

        _moveWishlist: function(e) {
            if (e.model.index === 0) return;
            var temp = this.wishlist[e.model.index - 1];
            this.wishlist[e.model.index - 1] = e.model.subject;
            this.wishlist[e.model.index] = temp;
            this._setWishlist();
        }
    });
    </script>
</dom-module>
